.bg-search{
    background-color: rgb(255 255 255 / 9%);
}
.bg-search input,
.bg-search input::placeholder{
    color: rgba(255, 255, 255, 0.644);
    font-size: 17px !important;
    font-weight:300;
}



.bg-search i {
    color: #E43256;
}
.search-box .icon-search {
    position: absolute;
    left: 0px;
    line-height: 40px;
    padding: 0px 15px 0px 30px;
    font-size:18px;
}

.header.sigov{
    background: linear-gradient(to bottom right, #361928 0%, #141118 100%);
}

.header-logo-app a.header-title.mcustomsd {
    margin-left: 30px !important;
}

.header.hcustom {
    background-color: transparent;
    border: none;
    box-shadow: none;
    z-index: 10;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 0px;
}

.header .header-icon {
font-size:16px !important;
}


.sdcustom.header-card.shape-rounded {
    border: none !important;
    border-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left:8px;
    margin-right:8px;
    /* border-top: 30px solid black !important; */
}

.bg-gradientsd {
    background: linear-gradient(to bottom right, #361928 0%, #141118 100%);
    /* border-top: 20px solid #10100f; */
}

.header.hcustom .header-title.mcustomsd {
    color: #ffffff !important;
    font-weight: 300;
}

.header.sigov .header-icon,
.header.hcustom  .header-icon{
    color: #E43256;
}

.search-boxsd {
    margin-top: 75px !important;
}

.card-bottom.news {
    left: 17px;
    right: 17px;
}
/* .header .header-title.mcustomsd {
    color: black !important;
} */

.bgsd-black{
    background-color: black;
}

.bgsd-white{
    background-color: white;
}

.bgsd-blue{
    background-color: #2D55CA;
}

.bgsd-blur-blue{
    background-color: #889AE0;
}

.bgsd-pink{
    background-color: #FD1049;
}

.bgsd-dark-red{
    background-color: #9B152F;
}

.bgsdimg-1{
    background-image: url("../images/asset/Group\ 38.png");
}

.bgsdimg-2{
    background-image: url("../images/asset/Group\ 3.png");
}

.bgsdimg-3{
    background-image: url("../images/asset/Group\ 4.png");
}

.textsd-black{
    color: #000 !important;
}